<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CND | {{hostname}}</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body class="antialiased">
    <div class="bg-gray-50 pt-12 sm:pt-16">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-4xl mx-auto text-center">
          <h2
            class="text-3xl font-extrabold text-gray-900 sm:text-4xl"
          >{{hostname}}</h2>

          <div class="max-w-4xl mx-auto justify-center">
            <div class="flex flex-0 space-x-1 text-center justify-center">
             <div class="max-w-4xl pt-1.5 space-x-1.5">{{app.name}}, v{{app.version}}</p></div>
              <div>
                <span
                  class="h-8 w-8 rounded-full  flex items-center justify-center "
                >
                  <!-- Heroicon name: solid/user -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    className="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    strokeWidth="{2}"
                  >
                    <path
                      strokeLinecap="round"
                      strokeLinejoin="round"
                      d="M9 11l3-3m0 0l3 3m-3-3v8m0-13a9 9 0 110 18 9 9 0 010-18z"
                    ></path>
                  </svg>
                </span>
              </div>
              <div class="min-w-0 flex-0 pt-1.5 flex justify-left">
                <div>
                  <p class="text-sm text-gray-500">{{uptime.startTime}} ({{uptime.duration}})</p>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      {{#each nics}}
        <div class="mt-10 pb-12 bg-white sm:pb-16">
          <div class="relative">
            <div class="absolute inset-0 h-1/2 bg-gray-50"></div>
            <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
              <div class="max-w-4xl mx-auto">
                <dl
                  class="rounded-none bg-white shadow-lg sm:grid sm:grid-cols-3"
                >
                  <div
                    class="flex flex-col border-t border-b border-sky-200 p-6 text-center sm:border-0 sm:border-l sm:border-r {{#strEqual this.type 'Internal'}} border-sky-800 bg-sky-800/50{{ else}} bg-sky-800/25{{/strEqual}}"
                  >
                    <dt
                      class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500"
                    >Interface</dt>
                    <dd
                      class="order-1 text-2xl font-extrabold text-indigo-600"
                    >{{this.interface}}
                    </dd>
                  </div>
                  <div
                    class="flex flex-col border-b border-sky-200 p-6 text-center sm:border-0 sm:border-r {{#strEqual this.type 'Internal'}} border-sky-800 bg-sky-800/50{{ else}} bg-sky-800/25{{/strEqual}}"
                  >
                    <dt
                      class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500"
                    >MAC</dt>
                    <dd
                      class="order-1 text-2xl font-extrabold text-indigo-600"
                    >{{this.mac}}</dd>
                  </div>
                  <div
                    class="flex flex-col border-b border-sky-200 p-6 text-center sm:border-0 sm:border-r {{#strEqual this.type 'Internal'}} border-sky-800 bg-sky-800/50{{ else}} bg-sky-800/25{{/strEqual}}"
                  >
                    <dt
                      class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500 "
                    >Type</dt>
                    <dd
                      class="order-1 text-2xl font-extrabold text-indigo-600"
                    >{{this.type}}</dd>
                  </div>
                </dl>
              </div>

              <div class="max-w-4xl mx-auto">
                <dl
                  class="rounded-none bg-white shadow-lg sm:grid sm:grid-cols-3"
                >
                  {{#each this.stacks}}
                    <div
                      class="flex flex-col border-t border-b border-gray-100 p-6 text-center sm:border-0 sm:border-l sm:border-r bg-gray-50"
                    >
                      <dt
                        class="order-2 mt-2 text-base leading-6 font-medium text-gray-500"
                      > {{this.address}} </dt>
                      <dd
                        class="order-1 text-lg font-extrabold text-sky-600/100"
                      >
                        {{this.family}}</dd>
                    </div>
                    <div
                      class="flex flex-col border-b border-gray-100 p-6 text-center sm:border-0 sm:border-r bg-gray-50"
                    >
                      <dt
                        class="order-2 mt-2 text-base leading-6 font-medium text-gray-500"
                      >{{this.netmask}}</dt>
                      <dd
                        class="order-1 text-lg font-extrabold text-sky-600/100"
                      >Netmask</dd>
                    </div>
                    <div
                      class="flex flex-col border-b border-gray-100 p-6 text-center sm:border-0 sm:border-r bg-gray-50"
                    >
                      <dt
                        class="order-2 mt-2 text-base leading-6 font-medium text-gray-500"
                      >{{this.cidr}}</dt>
                      <dd
                        class="order-1 text-lg font-extrabold text-sky-600/100"
                      >CIDR</dd>
                    </div>
                  {{/each}}
                </dl>
              </div>

            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </body>
</html>