<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CND | {{hostname}}</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body class="antialiased font-sans bg-gray-200">

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-gray-100">
      <div class="max-w-7xl mx-auto py-12 sm:px-6 lg:px-8">

        <div class="bg-white shadow overflow-hidden sm:rounded-lg">
          <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">{{hostname}}</h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">{{app.name}}, v{{app.version}}</p>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">Up since: {{uptime.startTime}} ({{uptime.duration}})</p>
            
          </div>
          <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <dl class="sm:divide-y sm:divide-gray-200">
              <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">CPU</dt>
                <dd
                  class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                >{{ cpu }}</dd>
              </div>
              <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">Memory</dt>
                <dd
                  class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                >{{ memory }}</dd>
              </div>
              
              {{#each nics}}
              <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-medium font-large text-gray-700 font-bold"><span class="text-gray-700 font-bold">{{this.interface}}</span>
                <p class="mt-1 max-w-2xl text-sm text-gray-500"><span class="text-gray-700 font-bold">MAC</span> {{this.mac}}</p>
                <p class="mt-1 max-w-2xl text-sm text-gray-500"><span class="text-gray-700 font-bold">Type</span> {{this.type}}</p>
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  <ul
                    role="list"
                    class="border border-gray-200 rounded-md divide-y divide-gray-200"
                  > {{#each this.stacks}}
                    <li
                      class="pl-3 pr-4 py-3 flex items-center justify-between text-sm"
                    >
                    
                      <div class="w-0 flex-1 flex flex-col items-left">
                        <p class="mt-1 max-w-2xl text-sm text-gray-500"><span class="text-gray-700 font-bold">IP</span> {{this.address}} ({{this.family}})</p>
                        <p class="mt-1 max-w-2xl text-sm text-gray-500"><span class="text-gray-700 font-bold">Netmask</span> {{this.netmask}}</p>
                        <p class="mt-1 max-w-2xl text-sm text-gray-500"><span class="text-gray-700 font-bold">CIDR</span> {{this.cidr}}</p>
                      </div>
                      <div class="ml-4 flex-shrink-0">
                        <a
                          href="#"
                          class="font-medium text-indigo-600 hover:text-indigo-500"
                        > Download </a>
                      </div>
                    </li>
                    {{/each}}
                  </ul>
                </dd>
              </div>
              {{/each}}
            </dl>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>